<div class="loader-bg" *ngIf="showLoader">
  <mat-progress-spinner class="loader" [color]="color" [mode]="mode" [value]="value" [diameter]="diameter" [strokeWidth]="strokeWidth">
  </mat-progress-spinner>
</div>
